@font-face {
  font-family: soligant;
  src: url(./Soligant.ttf);
}

@font-face {
  font-family: msans;
  src: url(./sans.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px solid #80808056; */
  -webkit-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
}

#body {
  background: #ddd;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 22px;
  --cc: url("data:image/svg+xml,%3Csvg width='8mm' height='8mm' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.5' style='fill:none;stroke:%23111;stroke-width:.5;opacity:.6;'/%3E%3C/svg%3E") 7 7, default;
}

#body,
a {
  cursor: var(--cc);
}

a,
a:visited {
  color: #222;
  text-decoration: none;
  border-radius: 5%;
  transition: background-color .6s linear;
}

a:hover {
  background-color: #bbb;
}

.bold {
  font-weight: 800;
}

.large {
  font-size: 30vh;
  margin-bottom: -2rem;
}

.medium {
  font-size: 20vh;
  margin-bottom: -1.5rem;
}

.small {
  font-size: 7.5vh;
  margin-bottom: -1.2rem;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  bottom: 0;
  left: 2rem;
  width: 100vh;
  height: 4rem;
  transform-origin: bottom left;
  transform: translateX(2rem) rotate(-90deg);
  font-size: 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  z-index: 200;
}

#nav {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  font-size: .6rem;
  font-weight: 100;
}

#nav,
#cpt {
  padding: .5rem 3rem;
}

#nav-select {
  color: red;
}

#nav-select>a {
  padding: 1rem;
}

/* HOME */
#home-btn {
  position: fixed;
  top: 4vh;
  right: 4vw;
  color: #ddd;
  z-index: 1;
  display: none;
  font-size: .8rem;
  padding: 1rem;
}

#home {
  position: fixed;
  left: 4rem;
}

.sans {
  font-family: msans;
}

.serif {
  font-family: soligant;
}

.spaced {
  letter-spacing: 4px;
  font-weight: 600;
}

#pgs {
  position: absolute;
  left: 40vw;
  top: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
}

#work::before {
  content: "WORK";
}

#about::before {
  content: "ABOUT";
}

#contact::before {
  content: "CONTACT";
}

.pg {
  transition: transform .3s linear;
}

.pg:hover {
  transform: skew(-5deg, 0) translateX(10px);
}

/* CONTENT */

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #222;
  color: #ddd;
  position: fixed;
  top: 100vh;
  left: 0;
  transition: top .5s linear, border-radius .3s;
  border-top-left-radius: 50vw;
  border-top-right-radius: 50vw;
}

.sec {
  position: relative;
  left: 20%;
  font-family: msans;
  font-size: .8rem;
}

#hw {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.reveal {
  position:relative;
  margin-bottom: 0;
  background-color: #222;
  width:100%;
  height:100%;
}

#hi {
  z-index: 0;
  position:absolute;
  top:0;
  transition: top 1s cubic-bezier(.17, .67, .1, 1);
}

#hb {
  z-index: 1;
  width:7rem;
  height:9rem;
}

/* RESPONSIVE */

@media screen and (max-width: 650px) {
  #work::before {
    content: "WK";
  }

  #about::before {
    content: "ABT";
  }

  #contact::before {
    content: "CO";
  }

  #pgs,
  .sec {
    left: 5vw;
  }

  #intro {
    width: 100vw;
    left: 0;
    bottom: 2rem;
    text-align: center;
  }
}